# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    
    - CONDA_NPY=112  CONDA_PY=27
    - CONDA_NPY=113  CONDA_PY=27
    - CONDA_NPY=112  CONDA_PY=35
    - CONDA_NPY=113  CONDA_PY=35
    - CONDA_NPY=112  CONDA_PY=36
    - CONDA_NPY=113  CONDA_PY=36
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "US/IB3KoVBR44OClYWTiyX2LFGDFVnM9aGtBtJB2B7e1mcBWhFyTQtMLAXhipO1oqNbHmf/6lOFqT8SgHV5DPPM9cQsS4EiB8wa6W3UijUL431COcRHdGXGvoUhoIpNt4TNDST5X7AyZ4KbKbftN7YTOJqR3EUPa0JGRTOumB7lhv4gbqgYoozGnG3Xc+7W6y7LxaPUuuFpGOGv86GVxd8JUgbEaflwVdScqR32pGu6yCXbHtRplrbJvii3VZe+/+vIRAXq00ZOMDUdMZ6CWhwy4YV+zHIsZduY9en3VkppQ5hNXOinf9BiYEVKNMTBa0MWcmpYKldMSUyReOQdkwmuJAF8us06QUfmhE0fyx+hIdhohToqBWTl288FcM0v4JFBobOA/LTfIICE79ftOItqzMlLE82qkoMYtcoArV9vE7A4hdpJ3xd3yiyctBx1jz4qx3CzdB71ovOMCjDLzD2EKTxc3qqO8nRF+WAQ4CSxVw4smy4VVVcC2bf8WzFFpdisHhya+z3y8WeH0NMHi1UpLSJMriAv+nBwtzHSvhbaVC/hmgtTNwJCITf1R8mjQW0SjJkJ53y7YwVvnLlYzi6Zmmo9yxojr8Hy5G2AJMfTE5d3wDWs9lHRZHXbs6dylvoVEcUB3PXdiW/rmBAJ1oEr6A5IiFDpGpTCAyq8YzpY="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-build-setup-feedstock/master/recipe/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root
      conda config --remove channels defaults
      conda config --add channels defaults
      conda config --add channels conda-forge
      conda config --set show_channel_urls true
      conda install --yes --quiet conda-forge-build-setup
      source run_conda_forge_build_setup

script:
  - conda build ./recipe

  - upload_or_check_non_existence ./recipe conda-forge --channel=main
